{% extends 'base.html.twig' %}

{% block title %}
Sorties | {{ parent() }}
{% endblock %}

{% block body %}
<h1 class="text-center">Gérer les campus</h1>
<div>
    <h4>Filtrer les sites</h4>
    <div>
        <form method="get" action="{{ path('site_list') }}" class="filter-form">
            <label for="campus-search">Le nom de la sortie contient</label>
            <input type="text" id="campus-search" name="search" placeholder="Search..."
                   value="{{ app.request.query.get('search') }}">
            <button type="submit">Rechercher</button>
        </form>
    </div>
</div>
    <div class="row mb-3"></div>

        <table class="table table-striped table-bordered table-auto" style="width: auto;">
            <thead>
            <tr>
                <th>Campus</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for site in sites %}
            <tr>
                <td>{{ site.nom }}</td>
                <td><a href="{{ path('site_edit', { id: site.id }) }}"> Modifier </a>

                    <form
                            method="post"
                            action="{{ path('site_delete', { id: site.id }) }}"
                            onsubmit="return confirm('Supprimer {{ site.nom }} ?');"
                            style="display:inline"
                    >
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete_site_' ~ site.id) }}">

                        <button class="btn btn-link"> Supprimer </button>
                    </form>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td>Aucun campus trouvé.</td>
                </tr>
            {% endfor %}
            <tr><td>{{ form_start(siteForm) }}
                    {{ form_widget(siteForm.nom) }}</td>
                <td> <button class="btn btn-link">Rajouter</button>
                    {{ form_end(siteForm) }}</td> </tr>
            </tbody>
        </table>

{% endblock %}