{% extends 'base.html.twig' %}

{% block title %}Photo de profil{% endblock %}

{% block body %}
    <h1>Changer ma photo de profil</h1>

    {# Flash messages #}
    {% for message in app.flashes('success') %}
        <div class="profile-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="profile-error">{{ message }}</div>
    {% endfor %}

    {# Symfony ajoute automatiquement enctype="multipart/form-data" avec FileType,
       donc pas besoin de forcer l'attribut #}
    {{ form_start(form) }}
    {{ form_row(form.photo) }}

    <button type="submit">Enregistrer</button>
    <a href="{{ path('participant_show', {'id': app.user.id}) }}">Retour au profil</a>
    {{ form_end(form) }}
{% endblock %}
