{% extends 'base.html.twig' %}

{% block title %}
    Sorties | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    <h1 class="center-text">Gérer les campus</h1>
    <div>
        <h6>Filtrer les sites</h6>
        <div>
            <form method="get" action="{{ path('admin_campus') }}" class="filter-form">
                <label for="campus-search">Le nom de la sortie contient</label>
                <input type="text" id="campus-search" name="search" placeholder="Search..."
                       value="{{ app.request.query.get('search') }}">
                <button type="submit">Rechercher</button>
            </form>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Campus</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for site in sites %}
                <tr>
                    <td>{{ site.nom }}</td>
                    <td>actions placeholder</td>
                </tr>
            {% else %}
                <td>Aucun campus trouvé.</td>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}