{% extends 'base.html.twig' %}

{% block title %}
    Sorties | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
<<<<<<< HEAD
    <div class="admin-page">
        <h1 class="admin-title">Page d'administration</h1>

    <div>
        <a class="btn btn-primary" href="{{ path('site_list') }}">Gérer les campus</a>
        <a class="btn btn-primary" href="{{ path('ville_list') }}">Gérer les villes</a>
        <a class="btn btn-primary" href="{{ path('admin_users') }}">Gérer les utilisateurs</a>
=======
    <h1 class="text-center">Page d'administration</h1>

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="d-flex gap-3">
            <a class="btn btn-sortir" href="{{ path('site_list') }}">Gérer les campus</a>
            <a class="btn btn-sortir" href="{{ path('ville_list') }}">Gérer les villes</a>
            <a class="btn btn-sortir" href="{{ path('lieu_list') }}">Gérer les lieux</a>
            <a class="btn btn-sortir" href="{{ path('admin_users') }}">Gérer les utilisateurs</a>
        </div>
>>>>>>> 478bc55588db44e9ea7b967374894498ef65b301
    </div>


{% endblock %}