<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>

    <header class="site-header">
        <div class="header-main">
            <div class="logo">
            <img src="{{ asset('img/logo.png') }}" alt="Logo Sortir.com">
        </div>

        <div class="site-title">Sortir.com</div>

            {% if app.user %}
                <div class="user-actions">
                    <span>{{ app.user.userIdentifier }}</span>
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}
         </div>
    </header>

    <main class="page-content">
        {% block body %}{% endblock %}
    </main>
    <footer>
      <div class="container text-center" >
         &copy; ENI Ecole - {{ "now"|date("Y") }}
        </div>
    </footer>

    {% block javascripts %}{% endblock %}
    </body>
</html>
